# Build output
build/
out/
bin/
lib/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
compile_commands.json

# Compilers / IDEs
*.obj
*.o
*.pdb
*.ilk
*.exe
*.dll
*.so
*.dylib
.vs/
.vscode/
.idea/

# OS noise
.DS_Store
Thumbs.db
